@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}

button {
    font-family: "Cairo", sans-serif;
}

.container {
    max-width: 1900px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul {
    list-style: none;
}

.options, .services, .prices, .ratings, .contact {
    scroll-margin-top: 120px;
}

header {
    background-image: url('./images/slide.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    color: #fff;
    padding-top: 250px;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #191919;
        .links {
            ul {
                display: flex;
                gap: 3rem;
                li {
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    a:hover {
                        color: #fec430;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }
        .youtube {
            a {
                color: #fff;
                text-decoration: none;
                img {
                    width: 22px;
                }
                img:hover {
                    color: #fec430;
                    transition: 0.3s ease-in-out;
                }
            }
            a:hover {
                color: #fec430;
                transition: 0.3s ease-in-out;
            }
        }
        .logo {
            position: relative;
            top: -10px;
            a {
                text-decoration: none;
                color: #fff;
            }
            span {
                color: #fec430;
                font-size: 50px;
            }
        }
        .toggle-menu {
            display: none;
            img {
                padding: 10px 10px;
                background-color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        h1 {
            font-size: 4.5rem;
            font-weight: 400;
            margin-bottom: 15px;
        }
        p {
            font-size: 22px;
            text-align: center;
            margin-bottom: 20px;
        }
        button {
            padding: 12px 30px 12px 24px;
            background-color: #fec430;
            border: none;
            border-radius: 16px;
            display: flex;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            img {
                width: 25px;
                margin-right: 7px;
            }
            a {
                text-decoration: none;
                color: #000;
            }
        }
        button:hover {
            background-color: #fab70e;
            transition: 0.3s ease-in-out;
        }
    }
    .extra {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            font-size: 20px;
        }
        .arrow {
            position: absolute;
            top: 450px;
            left: 590px;
        }
        .mouse {
            width: 90px;
        }
        .mouse:hover {
            transform: translateY(10px);
            transition: 0.3s ease-in-out;
        }
    }
}

.options {
    .head {
        text-align: right;
        margin: 80px 60px;
        p {
            color: #a5a5a5;
            font-size: 22px;
        }
        h2 {
            font-size: 40px;
        }
    }
    .body {
        .cards {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
            .card {
                img {
                    width: 300px;
                }
                .details {
                    padding: 18px 16px;
                    text-align: right;
                    background-color: #fff;
                    border-radius: 20px;
                    width: 270px;
                    margin: auto;
                    position: relative;
                    top: -130px;
                    h4 {
                        font-size: 25px;
                    }
                }
            }
            .card:hover {
                transform: translateY(-50px);
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
        }
    }
}

.services {
    margin-bottom: 90px;
    .head {
        text-align: center;
        margin-bottom: 70px;
        p {
            color: #a5a5a5;
            font-size: 22px;
        }
        h4 {
            font-size: 35px;
        }
    }
    .body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
        background-color: #f1effd;
        width: 1100px;
        height: 450px;
        margin: auto;
        border-radius: 20px;
        .arr3 {
            position: absolute;
            top: 0px;
            left: 500px;
            width: 65px;
        }
        .x {
            text-align: center;
            margin-top: 60px;
            img {
                width: 180px;
            }
            h3 {
                font-size: 28px;
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
                color: #4c4c4c;
            }
        }
    }
}

.prices {
    margin-bottom: 70px;
    .head {
        text-align: right;
        margin: 80px 60px;
        p {
            color: #a5a5a5;
            font-size: 22px;
        }
        h2 {
            font-size: 40px;
        }
    }
    .body {
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 3rem;
            .card {
                background-color: #ffe7ac;
                width: fit-content;
                padding: 22px 40px;
                border-radius: 25px;
                margin-top: 50px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 8px 7px 0px 3px;
                .top {
                    h2 {
                        font-size: 40px;
                        span {
                            font-size: 25px;
                            font-weight: 400;
                        }
                    }
                    h4 {
                        font-size: 25px;
                        font-weight: 500;
                        margin-bottom: 12px;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                }
                .center {
                    margin-top: 20px;
                    margin-bottom: 60px;
                    p {
                        margin-bottom: 3px;
                    }
                }
                .bottom {
                    button {
                        width: 100%;
                        padding: 7px 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffe7ac;
                        border: 1px solid;
                        border-radius: 10px;
                        font-size: 18px;
                        cursor: pointer;
                        img {
                            margin-right: 10px;
                            width: 30px;
                        }
                    }
                    button:hover {
                        background-color: #46368b;
                        color: #fff;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
            .bur {
                background-color: #46368b;
                color: #fff;
                position: relative;
                top: -60px;
                .bottom button {
                    background-color: #46368b;
                    color: #fff;
                }
                .bottom button:hover {
                    background-color: #ffe7ac;
                    color: #000;
                }
            }
        }
    }
}

.ratings {
    margin-bottom: 60px;
    .arr2 {
        width: 80px;
        position: relative;
        top: 35px;
        left: 400px;
    }
    .head {
        text-align: center;
        p {
            color: #a5a5a5;
            font-size: 22px;
        }
        h2 {
            font-size: 39px;
        }
    }
    .cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
        direction: rtl;
        .card {
            background-color: #f1effd;
            padding: 30px 40px;
            border-radius: 20px;
            .info {
                display: flex;
                gap: 0.7rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                img {
                    width: 50px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.contact {
    margin-top: 50px;
    .head {
        text-align: right;
        margin: 80px 60px;
        p {
            color: #a5a5a5;
            font-size: 20px;
        }
        h2 {
            font-size: 35px;
        }
    }
    .body {
        display: flex;
        justify-content: flex-end;
        margin: 80px 60px;
        gap: 5rem;
        .y {
            display: flex;
            text-align: right;
            margin-bottom: 50px;
            gap: 2rem;
            img {
                width: 100px;
            }
            h4 {
                font-size: 22px;
                margin-bottom: 7px;
            }
            p {
                font-size: 12px;
            }
            a {
                text-decoration: none;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            text-align: right;
            width: 500px;
            background-color: #ffe7ac;
            padding: 50px 20px;
            border-radius: 30px;
            border: 1px solid #000;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 8px 7px 0px 3px;
            font-size: 20px;
            font-weight: 500;
            input, textarea {
                margin-bottom: 20px;
                font-size: 18px;
                padding: 15px 20px;
                border-radius: 10px;
                border: 1px solid;
            }
            label {
                font-size: 23px;
                margin-bottom: 7px;
                font-weight: bold;
            }
            button {
                width: 210px;
                margin-left: auto;
                padding: 15px 20px;
                border-radius: 15px;
                border: none;
                background-color: #191919;
                font-size: 20px;
                cursor: pointer;
                color: #fff;
            }
        }
    }
}

.footer {
    padding: 50px 80px 30px;
    background-color: #191919;
    color: #fff;
    .footer-container {
        display: flex;
        justify-content: flex-end;
        gap: 7rem;
        .footer-col {
            margin-bottom: 40px;
            h3 {
                font-size: 28px;
                span {
                    color: #fab70e;
                }
            }
            p {
                color: #a5a5a5;
            }
            h4 {
                font-size: 22px;
                margin-bottom: 20px;
            }
            ul li {
                margin-bottom: 10px;
                a {
                    color: #a5a5a5;
                    text-decoration: none;
                }
                a:hover {
                    color: #fab70e;
                    transition: 0.2s ease-in-out;
                }
            }
        }

    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        a {
            color: #fab70e;
            text-decoration: none;
        }
        p {
            color: #a5a5a5;
        }
        .socials a {
            color: #fff;
            padding: 5px 8px;
            border: 1px solid #fff;
            border-radius: 10px;
            margin-right: 10px;
        }
        .socials a:hover {
            color: #fec430;
            transition: 0.3s ease-in-out;
        }
    }
}

@media (max-width: 1200px) {
    header {
        height: 700px; 
        nav {
            justify-content: space-around;
            align-items: center;
            font-size: 18px;
            margin-bottom: 50px;
            .youtube {
                display: none;
            }
            .logo {
                position: relative;
                top: -12px;
            }
        }
        .home {
            h1 {
                font-size: 3.5rem; 
            }
            p {
                font-size: 18px;
            }
        }
        .extra {
            .arrow {
                width: 70px;
                left: 40%;
                top: 500px;
                transform: translateX(-50%);
            }
        }
    }

    .options .body .cards {
        flex-wrap: wrap;
        justify-content: center;
        .card {
            img {
                width: 250px; 
            }
            .details {
                width: 220px;
                top: -120px; 
            }
        }
    }

    .services .body {
        flex-wrap: wrap;
        width: 90%; 
        height: auto; 
        padding: 40px 20px;
        gap: 4rem;
        .arr3 {
            display: none; 
        }
        .x {
            margin-top: 20px;
        }
    }

    .prices .body .cards {
        flex-wrap: wrap;
        gap: 2rem;
        .card {
            padding: 20px 30px;
        }
        .bur {
            position: static;
            top: auto;
        }
    }

    .ratings {
        .arr2 {
            left: 50%; 
            transform: translateX(-50%);
            top: 15px;
        }
        .cards {
            flex-direction: column; 
            align-items: center;
            gap: 20px;
            .card {
                width: 80%;
            }
        }
    }

    .contact .body {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
        margin: 50px 20px;
        .right {
            width: 90%;
            form {
                width: 100%;
            }
        }
        .left {
            .y {
                img {
                    width: 70px; 
                }
            }
        }
    }

    .footer .footer-container {
        flex-wrap: wrap; 
        justify-content: space-around;
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    header {
        height: 600px;
        text-align: center;
        nav {
            font-size: 16px;
            .links ul {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
                transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s;
                flex-direction: column;
                gap: 1rem;
                padding: 15px;
                font-size: 16px;
                background-color: #191919;
                padding-top: 80px;
                position: absolute;
                top: 0; 
                left: 0;
                width: 100%;
                z-index: 2; 
                border-radius: 10px;   
            }
            .links.active ul {                
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            .logo {
                font-size: 25px;
                font-weight: bold;
                margin-right: auto;
                margin-left: 20px;
                position: relative;
                top: -20px;
                z-index: 10;
            }
            .toggle-menu {
                display: block;
                position: relative;
                z-index: 10;
                margin-right: 20px;
            }
        }
        .home {
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 16px;
            }
            button {
                font-size: 18px;
            }
        }
        .extra {
            display: none; 
        }
    }

    .options .head, .prices .head, .contact .head {
        margin: 40px 20px; 
        text-align: center; 
        h2 {
            font-size: 30px;
        }
    }

    .options .body .cards {
        gap: 20px;
    }
    
    .services .body {
        gap: 2rem;
        flex-direction: column; 
        .x {
            img {
                width: 150px;
            }
            h3 {
                font-size: 24px;
            }
            p {
                font-size: 14px;
            }
        }
    }

    .prices .body .cards {
        flex-direction: column; 
        align-items: center;
        .card:hover {
            transform: translateY(0); 
        }
    }

    .ratings {
        .arr2 {
            display: none;
        }
        .cards {
            .card {
                width: 90%;
            }
        }
    }

    .contact .body {
        .left {
            width: 60%;
            .y {
                justify-content: space-evenly;
                align-items: center;
                img {
                    width: 60px;
                }
                .left {
                    p {
                        font-size: 10px;
                        min-width: 100px;
                    }
                }
            }
        }
        .right {
            form {
                padding: 30px 15px;
                button {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }

    .footer {
        padding: 30px 20px;
        .footer-container {
            justify-content: space-between;
            gap: 1rem;
            .footer-col {
                width: 45%;
                margin-bottom: 20px;
            }
        }
        .footer-bottom {
            flex-direction: column; 
            align-items: center;
            text-align: center;
            .socials {
                margin-bottom: 15px;
            }
        }
    }
}
